<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size-xs="12" size-md="6" offset-md="3">
      <form [formGroup]="loginForm">
        <div class="ion-margin ion-padding">
          <ion-item [ngClass]="{ 'is-invalid': loginForm.controls['email'].touched && loginForm.controls['email'].invalid }" >
            <ion-label position="floating">Email<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="email" name="email" formControlName="email" required></ion-input>
          </ion-item>

          <ion-item [ngClass]="{ 'is-invalid': loginForm.controls['password'].touched && loginForm.controls['password'].invalid }" >
            <ion-label position="floating">Password<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="password" name="password" formControlName="password" required></ion-input>
          </ion-item>
        </div>

        <div class="ion-margin ion-padding">
          <ion-button expand="block" (click)="login()">Login</ion-button>
        </div>

        </form>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
